body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.countries {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.pais-box {
    padding: 20px;
    border: 1px solid #2e2e2e;
    width: max-content;
    width: 300px;
}